@model Data_LojaDiretorioCarrinho.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Cadastro</h1>

<h4>Editar os Dados do Cadastro do Cliente</h4>
<hr />

<div>
    <a class="btn btn-dark" asp-action="Index">Voltar</a>
</div>
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CliNome" class="control-label"></label>
                <input asp-for="CliNome" class="form-control" />
                <span asp-validation-for="CliNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliCpf" class="control-label"></label>
                <input asp-for="CliCpf" class="form-control" />
                <span asp-validation-for="CliCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliEndereco" class="control-label"></label>
                <input asp-for="CliEndereco" class="form-control" />
                <span asp-validation-for="CliEndereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliCidade" class="control-label"></label>
                <input asp-for="CliCidade" class="form-control" />
                <span asp-validation-for="CliCidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliTelefone" class="control-label"></label>
                <input asp-for="CliTelefone" class="form-control" />
                <span asp-validation-for="CliTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliEmail" class="control-label"></label>
                <input asp-for="CliEmail" class="form-control" />
                <span asp-validation-for="CliEmail" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Salvar Alterações" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
